body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
//  max-width: 38rem;
  padding: 1rem;
  background-color: #282726 ;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 20%;
}

video {

  width: 100%;
  height: 100%
  position: relative;
}

p.title {
  text-align: left;
  color: #F8C471 ;
  font-size: 20px;
}

#videoSelectBtn:hover {
  background: #784212
}

#startBtn:hover {
  background: #1A5276
}

#stopBtn:hover {
  background: #C0392B
}

body {
  text-align: center;
  padding-top: 20px;
}

button {
    align-items: center
    margin-bottom: 20%;
}
